<div class="container">
  <div class="cards-interview-prep">
    <% @interview_preparations.each do |interview_preparation| %>
      <%= link_to interview_preparation_path(interview_preparation) do %>
        <div class="card-interview-prep">
          <div class="card-interview-prep-infos">
            <h3>Interview preparation for <span class="font-weight-bold"><%= interview_preparation.company %></span></h3>
            <p> as <span class="font-italic"><%= interview_preparation.job %></span></p>
          </div>
          <p>Interview in <span class="font-weight-bold"><%= (interview_preparation.interview_date - Date.today).to_i %></span> days</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
