<div class="container">
  <div class="cards d-flex justify-content-around">
    <% @interview_preparations.each do |interview_preparation| %>
      <div class="card">
        <p><%= interview_preparation.company %></p>
      </div>
    <% end %>
  </div>
</div>
