// Interview Masters color set
$orange: #F28705;
$lightorange: #FDCF97;
$darkgray: #666666;
$mediumgray: #CED4D9;
$lightgray: #EEEEEE;
$white: #FFFFFF;
$black: #000000;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #A6A6A6;
$light-gray: #EEEEEE;
