#articles-company {
  text-align: center;
}
.articles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  a {
    margin-top: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  padding: 15px;
  &:hover {
    border: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  h4 {
    color: $gray;
    font-size: 20px;
    font-weight: bold;
  } p {
    color: $gray;
    margin: 0;
  }
}

