#articles-company {
  text-align: center;
}
.articles {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.article {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #d8d8d8;

  width: 100%;
  padding: 15px;
  &:hover {
    background-color: $orange;
    border: 1px solid $orange ;
    h4 {
      color: white;
    } p {
      color: white;
    }
  }
  h4 {
    color: $gray;
    font-size: 20px;
    font-weight: bold;
  } p {
    color: $gray;
    margin: 0;
  }
}

