// Specific CSS for your home-page
.backimage {
  background-image: url('https://static.businessinsider.sg/2019/06/06/5d0aae1d97ad7645413accc7.png');
  width: 1000px;
  height: 900px;
  padding: 100px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.homepage {
  h1 {
    margin: 10px;
    color: $orange;
  } h2 {
    margin: 10px;
    color: $lightorange;
  }
}
.paragraph {
  width: 400px;
  p {
    color: #007CBE;
    font-size: 32px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.btn-flat {
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  color:white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat:hover {
  background: $lightorange;
  color: white;
}
