// Specific CSS for your home-page
.banner {
  background-image: url('https://images.unsplash.com/photo-1507123948929-86a949bdaa23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80');
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-size: cover;
  height: 1000px;
}

.homepage {
  h1 {
    margin: 10px;
    color: $orange;
  } h2 {
    margin: 10px;
    color: $lightorange;
  }
}
.paragraph {
  width: 400px;
  p {
    color: #007CBE;
    font-size: 32px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.btn-flat {
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  color:white;

  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-top: 100px;
}

.btn-flat:hover {
  background: $lightorange;
  color: white;
}
