.interview-prep-infos {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  margin: 50px 0;
  h1 {
    color: black;
    font-weight: bold;
    margin: 0;
  } h2 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  } h3 {
    font-size: 20px;
    font-style: italic;
    margin: 0;
  } p {
    margin: 0;
  }
}
.display-zone {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  height: fit-content;
}
.general-infos {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .company-logo {
    width: 80px;
    height: 80px;
    margin: 0px auto 0px 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.experience-expectations {
  p {
    margin-top: 10px;
  }
}
.missions {
  margin-top: 20px;
  p {
    margin-top: 10px;
  }
}
.hard-skills {
  p {
    margin-top: 10px;
  }
}
.soft-skills {
  p {
    margin-top: 10px;
  }
}
.challenges-choices {
  padding: 0 15px 0 0;
  h4 {
    margin: 16px 0;
    font-size:18px;
    color: $orange;
  } p {
    margin: 0;
  }
}
.scrollable {
  height: 500px;
  overflow-y: auto;
  padding: 0 15px;
}
.scrollable::-webkit-scrollbar {
  display: none;
}
.scrollable-display-zone{
  height: 555px;
  overflow-y: auto;
}
.scrollable-display-zone::-webkit-scrollbar {
  display: none;
}
.progress {
  margin-top: 20px;
}
.container.no-padding {
  padding: 0;
}
#collapseQuestions {
  padding-right: 30px;
}

.em,.em-svg {
  font-size: 15px;
}

.questionsgray {
  h3 {
  color:gray;
  font-size:24px;
  margin-bottom:10px;
  }
}
.orange-questions {
  color:$orange !important;
  font:16px !important;
  }
