#similar-profiles {
  text-align: center;
  h4 {
    margin-top: 40px;
  }
}
.profiles-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: left;
  a {
    text-decoration: none;
  }
}
