<div class="footer px-4" >
  <div class = "container-home">
    <div class="footer-links">
      <a href="https://github.com/Dupayrat/interviewmasters/pulls"><i class="fab fa-github"></i></a>
      <span> provided with <i class="fas fa-heart"> </i> by: </span>
       <a href="https://circles.work">
          <img class="logocircles", src = "https://circles.work/wp-content/uploads/2020/02/circles.work_logo_landscape_W_1000x457px.png">
      </a>
    </div>
    <div class="footer-copyright">
     <a href="mailto:contact@circles.work"> Contact us </a>
     <span> FAQ </span>
     <span> Legal </span>
    </div>
  </div>
</div>
