<div class="footer">
  <div class = "container-home">
    <div class="footer-links">
      <a href="https://github.com/Dupayrat/interviewmasters/pulls"><i class="fab fa-github"></i></a>
      <span> provided by: </span>
      <a href="https://circles.work"><i class="far fa-circle"></i></a>
    </div>

    <div class="footer-copyright">
     <a href="mailto:contact@onecoachingtobindthemall.com"> Contact us </a> <i class="fas fa-heart"> </i>
     <span> FAQ </span>
     <span> Legal </span>
    </div>
  </div>
</div>


