
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507123948929-86a949bdaa23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80);">
  <div class="container">
    <h1 #home_title>Prepare like a Master </h1>
    <p>Lost in your interview prep ?</p>
    <a class="btn btn-flat" href="users/sign_in">Get started</a>
  </div>
</div>
