<h1>Interview Master</h1>
<h2>Take more control of your furture with our help</h2>
<div class="backimage">
  <div class="paragraph">
    <p>We can help you land your dream job by offering you a specific training depending on your needs</p>
      <a class="btn btn-flat" href="users/sign_in">
    Sign_up</a>
  </div>
</div>
