
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507123948929-86a949bdaa23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80);">
    <div class="homepage_text text-center align-text-bottom">
      <h2><em>Lost in your interview prep?</h2></em>
      <h1>Prepare like a Master </h1>
      <a id="btn-home" href="interview_preparations">Get started</a>
  </div>
</div>
