<div class="collapse" id="articles-company" data-parent="#accordion">
  <h3>Read top 6 articles
    <div class="text-center">
        <!-- Animated button -->
        <%= link_to scrap_articles_interview_preparations_path(id: params[:id]),remote:true, class: "animated-btn text-white" do %>
          <i class="fa fa-play"></i>
        <% end %>
    </div>
  </h3>
  <div class="articles">
    <% @company_articles.flatten.each do |article| %>
      <%= link_to article[:url], target: "_blank" do %>
        <div class="article">
            <h4><%= article[:title] %></h4>
            <p><%= article[:publication_date].gsub(/(\d+:\d+:\d+ GMT)/, "") %></p>
        </div>

      <% end %>
    <% end %>
  </div>
</div>

<% console %>
