<div class="collapse" id="questions-company" data-parent="#accordion">
  <p>Tell Me About Yourself.</p>
  <p>How Did You Hear About This Position?</p>
  <p>Why Do You Want to Work at This Company?</p>
  <p>Why Do You Want This Job?</p>
</div>
