<div class="collapse" id="similar-profiles" data-parent="#accordion">
  <h3>Similar profiles</h3>
  <div class="profiles-cards">
    <% @hash_results[:organic_results].first(6).each do |el| %>
      <%= link_to el[:link], target: "_blank" do %>
        <div class="profile-card">
          <img src="https://optimiztemps.com/wp-content/uploads/2015/02/linkedin-logo-900x900.png" alt="Linkedin logo">
          <div class="profile-card-content">
            <h5><%= el[:title].gsub(/\| linkedin/i, "") %></h5>
            <p><%= el[:snippet] %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
