<div class="collapse" id="star_approach" data-parent="#accordion">
   <div class="no padding bd-highlight text-center">
    <h3> How to answer properly any question during interview?</h3>
  </div>
  <div class = "container no-padding">
    <div class="row justify-content-md-center no-padding">
      <div class="card-tips">
        <div class="card-interview-prep-infos mt-0">
          <h4>Tip 1: <span class="font-weight-bold">Rephrase & take time to think</span></h4>
          <p>  <span class="job-title"> It shows you've understood correctly and consider options before talking</span></p>
        </div>
        <div class="company-logo" style="background-image: url(https://svgsilh.com/svg/2150140.svg)"></div>
        <p class ="text-center">  <em class="job-title"> Can I take 2 minutes to structure my answer please? </em></p>
      </div>

      <div class="card-tips">
        <div class="card-interview-prep-infos mt-0">
          <h4>Tip 2: <span class="font-weight-bold">Use the STAR approach</span></h4>
          <p>  <span class="job-title"> <strong>S:</strong> situation you were in <br> <strong>T:</strong> task you ask to perform <br> <strong>A:</strong> action YOU took <br> <strong>R:</strong> results from taking action (quantified!) </span></p>
        </div>

        <div class="company-logo mb-3" style="background-image: url(https://www.publicdomainpictures.net/pictures/250000/velka/yoga-1516080168O0P.jpg)"></div>
        <p class = "text-center">  <em class="job-title "> Get 8 / 10 key examples for your upcoming interview & turn them into STAR! </em></p>
      </div>
    </div>
  </div>
</div>
