<div class="collapse show" id="videos-company" data-parent="#accordion">
  <h3>Watch top 6 videos</h3>
  <div class="videos">
    <% @company_videos.flatten.each do |video| %>
      <% embeded_url = video[:url].gsub(/watch\?v=/, 'embed/') %>
      <iframe src="<%= embeded_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
  </div>
</div>

