<div class="collapse" id="videos-company">
  <div class="videos">
    <div class="video-infos">
      <div class="video"></div>
      <h4>Title</h4>
    </div>
     <div class="video-infos">
      <div class="video"></div>
      <h4>Title</h4>
    </div>
     <div class="video-infos">
      <div class="video"></div>
      <h4>Title</h4>
    </div>
     <div class="video-infos">
      <div class="video"></div>
      <h4>Title</h4>
    </div>
     <div class="video-infos">
      <div class="video"></div>
      <h4>Title</h4>
    </div>
     <div class="video-infos">
      <div class="video"></div>
      <h4>Title</h4>
    </div>
  </div>
</div>
