<div class="collapse" id="videos-company" data-parent="#accordion">
  <h3>Watch top 6 videos</h3>
  <div class="videos">






     <div class="video-infos">
      <div class="video"></div>
      <h4>Title</h4>
    </div>
  </div>
</div>


