.btn-ghost {
  color: $darkgray;
  border: 1px solid $darkgray;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $orange;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  color:white
}

.btn-flat:hover {
  background: $lightorange;
  color: white;
}

.btn-challenges {
  padding: 15px;
  background-color: $orange;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-family: $body-font;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 18px;
  &:hover {
    text-decoration: none;
    color: white;
  } .fa-caret-down {
  font-size: 25px;
  }
}

.btn-profile-update {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  color:white;
  width:130px;
  height: 50px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.btn-cancel-account{
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
  width:200px;
  height: 45px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  a {
    color: white;
  }
  text-align: center;
}
.btn-question {
  color: white;
  padding: 8px 24px;
  border-radius: 0px 0 4px 4px;
  background-color: $orange;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}

.btn-active {
  color: $mediumgray;
  padding: 8px 24px;
  border: 1px solid $mediumgray;
  border-radius: 0px 0 4px 4px;
  background-color: white;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}

