.cards-container {
  width: 800px;
  margin: 0 auto;
}

.cards-interview-prep {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

.card-interview-prep {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  height: 350px;
  width: 350px;
  padding: 30px;
  margin: 40px 20px 0 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  p, h3 {
    margin: 0;
  } &:hover {
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    cursor: pointer;
  } .company-logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.card-interview-prep-details {
  display: flex;
  justify-content: space-between;
}



.job-title {
  color: $gray;
}
.days-counter {
  color: $gray;
}

.test {
  height: 350px;
  width: 350px;
  background-color: white;
}
.new-prep {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid $gray;
    border-radius: 10px;
    font-size: 60px;
    margin: 0;
    color: $gray;
    &:hover {
      border: 1px solid $darkgray;
      color: $darkgray;
      cursor: pointer;
    }
  }
}

  .card-tips {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    height: 0.95 em;
    width: 45%;
    padding: 30px;
    margin: 10px 10px 0 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    p, h3 {
      margin: 0;
    } &:hover {
      box-shadow: 0 0 40px rgba(0,0,0,0.2);
      cursor: pointer;
    }
    h4 {
      color: $orange;
    }
     .company-logo {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .delete-prep {
    position: absolute;
    .fa-trash-alt {
    color: $gray;
    &:hover {
      color: $orange;
    }
    }
  }

